<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<nav class="navbar navbar-expand-lg ">
   <a class="navbar-brand" href="{% url 'home' %}">Главная страница</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
<div class="collapse navbar-collapse " id="navbarSupportedContent">
     <ul class="navbar-nav mr-4">
       <li class="nav-item">
         <a class="nav-link" href="{% url 'messages' %}">Сообщения</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="{% url 'add_post' %}">Добавить статью</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="{% url 'contacts' %}">Контакты</a>
       </li>
       {% if user.is_authenticated %}
        <li class="nav-item"> <a href="{% url 'users:profile' %}">{{user.username}}</a> | <a href="{% url 'users:logout' %}">Выйти</a></li>
       {% else %}
       <li class="nav-item"><a href="{% url 'users:login' %}">Войти</a> | <a href="{% url 'users:register' %}">Регистрация</a></li>
       {% endif %}
     </ul>
     
   </div>
</nav>